/Practica4/2.2/AccesoDatos2.2/nbproject/private/
/Practica4/2.2/AccesoDatos2.2/build/
/Practica4/2.2/AccesoDatos/target/
/Practica4/2.3/formula1/target/
shopmedb
/PracticaFinal/gestioncine/target/
derby.log

# ignorar las carpetas llamadas .idea
.idea/
